
.formContainer{
  display: flex;
  justify-content: center;
  color: #D7DBDD;
  margin: 0 auto;
  margin-top: 20px;
  min-height: 800px;
}

.input-group-prepend{
  border: 1px solid  #D7DBDD;
  border-radius: 5px;
  padding: 30px;
}

.compraRechazada { 
  background-color: #f44336;
  color: white;
  transition: 0.3s;
}

.compraConfirmada{
  background-color: #00cc66;
  color: white;
  transition: 0.3s;
}
