.card {
  height: 80%;
  width: 80%;
  text-align: center;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.header,
.footer,
.content {
  width: 100%;
}

img {
  object-fit: cointain;
}

div.contenedor {
  text-align: center;
  padding: 10px 20px;
}

#container {
  display: inline-block;
  margin: 0 auto;
}