.CartContainer {
    width: 100%;
    height: 100%;
}

/* .containerResumen {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    margin: 0 auto;
    margin-top: 5px;
    width: 50%;

} */

h2 {
    color: #D7DBDD;

}

.containerResumenBotones {
    display: flex;
    padding: 10px;
    margin: 0 auto;
    margin-top: 5px;
    width: 50%;
    justify-content: space-between;
    align-content: center;
}