.containerResumen {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    margin: 0 auto;
    margin-top: 5px;
    width: 50%;

}


#btnCancelar{
    display: flex;
    align-items: center;
    align-self: center
}
