body {
    margin: 0;
    padding: 0;
}


.navBar {
    background-color: rgb(189, 189, 189);
    height: 70px;
    width: 100%;
}

.navBarItems{
    text-align: center;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1250px;
}

.navBarItems h3 {
    /* float: left;
    display: flex; */
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    color: #1866B5;
    font-weight: bold;
}



.navBarItems ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.navBarItems ul a:hover {
    color: #3399FF;
    font-weight: bold
}

.navBarItems li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
}

.navBar li a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
}

.nav-activo {
    font-weight: bold;
    color: #3399FF;
}