#cart {
  float: right;
  padding: 0.5rem 1rem;
  max-height: 80px;
  max-width: 80px;
}

#Btncart {
  float: right;
  padding: 0.5rem;
  max-height: 80px;
  max-width: 80px;
}

.acumItems {
  text-decoration: none;
  color: black;
  font-size: large;
  order: 2;
  justify-content:end;
}

.cartContainer{
  display: flex;
  
}

